body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 40 0 0 40;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 0;
}

header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.emergency-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.emergency-info img {
  max-width: 100px;
  margin-bottom: 15px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
}

.phone-number {
  font-size: 18px;
  margin: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    padding: 10px 0;
  }

  header h1 {
    font-size: 24px;
  }

  .emergency-info {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 5px 0;
  }

  header h1 {
    font-size: 20px;
  }

  .emergency-info {
    padding: 15px;
  }

  .emergency-info img {
    max-width: 80px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
  }

  .phone-number {
    font-size: 16px;
  }
}
