
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  }

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
}

.logo {
  margin-right: 20px; 
}


.logo img {
  max-width: 150px;
}

.nav-links ul {
  display: flex;
  font-size: 25px;
  gap: 100px;
}

.nav-links li {
  margin-left: 22px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-links a:hover {
  border-radius: 188px;
  background-color: #ff0000;
  color: white;
  padding: 10px 15px; 
}

/* Body styles */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.text-container {
  
  flex: 1;
}

.text-container h1 {
  font-size: 70px; 
}

.text-container p {
  font-size: 11x; 
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 9px 45px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-signup {
  background-color: #ff0000; 
}

.btn-signin {
  background-color: transparent;
  border: 1px solid #ff0000; 
  color: #ff0000; 
}

.btn-signup:hover {
  background-color: #fff; 
  color: #ff0000; 
}

.btn-signin:hover {
  background-color: #ff0000; 
  color: #fff; 
}

.image-container img {
  max-width: 100%; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Add responsive styles here */
}

@media (max-width: 576px) {
  /* Add mobile-specific styles here */
}
